<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deceen.mty.atomTemplet.mapper.TMtyAtomtempletMapper">
<!--  ********************************T_MTY_ATOMTEMPLET config begnin********************************  -->

<select id="select" resultType="TMtyAtomtemplet"> 
 SELECT ID,ATOMID,TEMPLETID FROM  T_MTY_ATOMTEMPLET 
 WHERE   ID=#{id}
</select>

<select id="list" parameterType="TMtyAtomtemplet" useCache="false"   resultType ="hashmap" >  
 <include refid="plat.ORACLE_PAGE_HEADER" />
 SELECT ID,ATOMID,TEMPLETID FROM  T_MTY_ATOMTEMPLET 
 WHERE  1 = 1
 <!-- 
   ## 这里为查询的样例 修改完必须删除此些内容
 <if test="filed != null and filed != ''">
 AND COLUMN LIKE '%' #{filed}  '%'
 </if>
  <if test="endTime != null and endTime != ''">
      	<![CDATA[  AND  #{endTime} >= DATE_FORMAT(COLUMN,'%Y-%m-%d')]]>
  </if>
 -->
 <include refid="plat.ORACLE_PAGE_FOOTER" />
</select>

 <insert id="insert" parameterType="TMtyAtomtemplet">
 INSERT INTO T_MTY_ATOMTEMPLET   ( ID,ATOMID,TEMPLETID)
  VALUES ( #{id},#{atomid},#{templetid} )
</insert>

 <update id="update" parameterType="TMtyAtomtemplet">
 UPDATE T_MTY_ATOMTEMPLET SET  ID=#{id},ATOMID=#{atomid},TEMPLETID=#{templetid} 
 WHERE  ID=#{id}
</update>


 <delete id="delete">
   DELETE FROM T_MTY_ATOMTEMPLET WHERE   ID=#{id}
</delete>

<!--动态进行更新 如果有需要请开启，否则请删除
 <update id="updateWithDyna" parameterType="TMtyAtomtemplet">
 UPDATE T_MTY_ATOMTEMPLET 
 <trim prefix="SET" suffixOverrides=",">
 <if test="id != null">  ID = #{id},</if>
<if test="atomid != null">  ATOMID = #{atomid},</if>
<if test="templetid != null">  TEMPLETID = #{templetid},</if>

 </trim>  
 WHERE  ID=#{id}
</update>
-->
<!--  ********************************T_MTY_ATOMTEMPLET config end********************************  -->

</mapper>
