.topleft {
	float: left;
	height: 100%;
	padding-left: 10px;
	position: relative;
	padding-right: 10px !important;
}

.nav {
	float: left;
	padding-left: 20px;
}

.logo {
	position: absolute;
	top: 18px;
}

.logo-title {
	font-size: 18px;
	font-family: Verdana, Arial, Helvetica, sans-serif,'微软雅黑';
	position: relative;
	padding-left: 10px;
	margin-left: 80px;
	color: #fff;
	display: inline-block;
	max-width: 144px;
}

.logo-title:before,
.logo-title:after {
	content: "";
	position: absolute;
	width: 1px;
	top: 0px;
	height: 100%;
}

.logo-title:before {
	background-color: #2173E3;
	left: 0;
}

.logo-title:after {
	left: 1px;
	background-color: #2A9AFC;
}
